@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #4103db !important;
}

#Header h1 {
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    color: white;
}

.main-display-mcqs {
    display: flex;
    flex-direction: column;
}

.show-box-mcq {
    border: 1px solid white;
    margin: 0px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px white;
}

.results {
    display: none;
}

.button-class {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.button-class button {
    background-color: #4103db !important;
}

.button-class button:hover {
    background-color: #6539d6 !important;
}